header{
  width:100%;
  height: 100px;
  position: fixed;
  background-color: #071319;
  margin-bottom:60px;
  top: 0;
}

header .header-logo {
  float: left;
  font-size: 42px;
  margin-top: 20px;
  margin-left: 45px; 
}

header .header-logo .logo {
  color: #FFCA0F;
  text-decoration: none;
  font-family: 'Courgette', cursive;
  
}

header .header-right{
  list-style: none;
  float: right;
  margin-right: 25px;
  font-size: 24px;
}

header .header-right a {
  padding: 12px 25px;
  line-height: 65px;
  float: left;
  display: block;
  color:#FFCA0F;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

  header .header-right a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/gambar1.jpg");
  background-size: cover;
  color: white;
}

.top-wrapper .container {
  height:40%;
}

.top-wrapper .container h1 {
  width: 60%;
  padding: 133px 10px 39px 260px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
}

.top-wrapper .container span {
  color: #FFCA0F;
}

.menu-icon {
  color: #FFCA0F;
  float: right;
  font-size: 25px;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-right: 15px;
  padding-left: 0px;
  display: none;
}

body{
  
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}


/* Boxes */
#boxes{
  margin-top:20px;
  background-color: #FFCA0F;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Media Queries */
@media(max-width: 768px){
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  @media only screen and (max-width: 1024px) {
    
    header .header-logo {
      padding-top: 10px;
      margin-left: 25px;
      font-size: 25px;
    }
    
    header .header-right a {
       font-size: 15px;
       padding: 12px 15px;
       line-height: 55px;
    }

    .top-wrapper {
        width: 100%;
        height: auto;
    }

    .top-wrapper .container {
        height: auto;
    }

    .top-wrapper .container h1 {
        width: 80%;
        font-size: 28px;
        padding: 0px 10px 0px 0px;
        margin-top: 0px;
    }
  }

  @media only screen and (max-width: 414px) {
    header {
      width: 100%;
      height: auto;
  }

  header .header-logo {
      padding-bottom: 15px;
      margin-left: 20px;
      font-size: 28px;
     
    }

  .menu-icon {
    display: block;
  }

  .header-right {
    display:none;
  }
  
  .top-wrapper {
      width: 100%;
      height: auto;
  }

  .top-wrapper .container {
      height: auto;
  }

  .top-wrapper .container h1 {
      width: 100%;
      font-size: 28px;
      padding: 0px 10px 0px 0px;
      margin-top: 0px;
  }
  }
  

}
